<% provide(:title, "About") %>
<h1>About</h1>
<p>This application allows clients (other apps) to send their log messages to this remote app.
This allows for a centralized viewing of all your devices and apps. All it needs to be able to do is send an HTTP post.</p>
<p>
  Find the GIT repo of this app at <a target="_blank" href="http://github.com/bioboost/remote_logger_rails">github.com/bioboost/remote_logger_rails</a>
</p>
