<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<div class="row">
  <div class="large-12 columns">

    <% @messages.each do |message| %>
      <%= render partial: "message", locals: {
          severity: message.severity, timestamp: message.logtime, message: message.content
        }
      %>
    <% end %>

  </div>
</div>
