<div class="callout alert-callout-subtle <%= "#{severity}" %>-message">
  <div class="row">
    <div class="large-1 columns severity"><%= "#{severity}" %></div>
    <div class="large-3 columns timestamp"><%= "#{timestamp}" %></div>
    <div class="large-8 columns message"><%= "#{message}" %></div>
  </div>
</div>
