<div class="row show-client-section">
  <div class="small-12 medium-6 columns about-client">
    <div class="about-client-avatar">
      <img class="client-image" src="https://i.imgur.com/UPVxPjb.jpg" alt="Kishore Kumar">
    </div>
    <div class="client-details">
      <p class="client-title">
        <%= client.name %>
      </p>
      <p class="client-description">
        <%= client.description %>
      </p>
    </div>
  </div>
  <div class="small-12 medium-6 columns client-stats-section">
    <div class="client-log-stats">
      <ul class="stats-list">
        <li>
          17,678 <span class="stats-list-label">Messages</span>
        </li>
        <li class="stats-list-warnings">
          2,390 <span class="stats-list-label">Warnings</span>
        </li>
        <li class="stats-list-errors">
          135 <span class="stats-list-label">Errors</span>
        </li>
      </ul>
    </div>
  </div>
</div>
